#qualifications {
  background-color: #e9ecef;
  display: block;
  align-items: center;
}
@media (min-width : 992px){
  #qualifications {
    display: flex;
  }
}

#qualifications h2 {
  text-align: center;
  font-size: 2rem;
  color: #161c23;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

#qualifications .qualifications-cards-wrapper {
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 5%;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 992px){
  #qualifications .qualifications-cards-wrapper {
    flex-direction: row;
  }
}
#qualifications .card {
  width: 100%;
  padding: 10px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px){
  #qualifications .card {
    width: 40%;
  }
}

#qualifications .card .icon {
  padding-top: 1rem;
  display: flex;
  align-self: center;
}
#qualifications .card .title {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
#qualifications .card .description {
  font-family: "Lora", serif;
  padding: 10px;
}
